<div class="select-container">
	<div class="row">
		<h1 class="col-md-6"><%= @business.name %></h1>
		<h1><%= link_to "Back", root_path,class: "col-md-6"%></h1>
	</div>
	<h2>Filter year:</h2>
	<select class="year-select">
			<option>Select year</option>
			<% @business.inventory_years.each do |year| %>
				<option value="<%=year%>"><%=year%></option>
				<%end%>
	</select>
	<div class="inventory-links">
	</div>
</div>