<div class="row">
	<div class="col-md-2">
		<h4>Upc Code</h4>
	</div>
	<div class="col-md-2">
		<h4>Brand</h4>
	</div>
	<div class="col-md-2">
		<h4>Product Name</h4>
	</div>
	<div class="col-md-2">
		<h4>Quantity (number only)</h4>
	</div>
	<div class="col-md-2">
		<h4>Retail Price (number only)</h4>
	</div>
</div>