<div class="row">
	<div class="col-md-3 col-xs-3">
		<h4>Upc Code</h4>
	</div>
	<div class="col-md-3 col-xs-3">
		<h4>Quantity (number only)</h4>
	</div>
	<div class="col-md-3 col-xs-3">
		<h4>Retail Price (number only)</h4>
	</div>
	<div class="col-md-3 col-xs-3">
		<h4>Scan Upc Code</h4>
	</div>
</div>
