<div class="edit-margins">
	<h2>Edit Margins</h2>
	<div class="row">
		<div class="col-md-6">
			<h3>Category</h3>
		</div>
		<div class="col-md-6">
			<h3>Margin (use decimal)</h3>
		</div>
	</div>
	<%= form_tag update_margins_path, method: :put do %>
		<% @inventory.all_categories.each do |category| %>
		<div class="row form-group">
			<div class="col-md-6">
				<%= label_tag category %>
			</div>
			<div class="col-md-4">
				<%= text_field_tag category, "", class: 'form-control' %>
			</div>
		</div>
		<% end %>
		<div class="row">
			<%= submit_tag "submit", class: "col-md-10 btn btn-default" %>
		</div>
	<% end %>
</div>