<div class="row">
	<div class="col-md-3">
		<h3>Category</h3>
	</div>
	<div class="col-md-3">
		<h3>Quantity</h3>
		<h4>(number only)</h4>
	</div>
	<div class="col-md-3">
		<h3>Retail Price</h3>
		<h4>(number only)</h4>
	</div>
</div>