<div class="row">
	<div class="col-md-3 col-xs-3">
		<h4>Category</h4>
	</div>
	<div class="col-md-3 col-xs-3">
		<h4>Quantity</h4>
	</div>
	<div class="col-md-3 col-xs-6">
		<h4>Retail Price</h4>
	</div>
</div>