<div class="select-container">
	<h1>Select Owner:</h1>
	<select class="owner-select form-control">
		<% @owners.each do |owner| %>
			<option value="<%=owner.id%>"><%=owner.name%></option>
			<%end%>
		</select>
	<div class="business-links">
	</div>
</div>