.inventory-container {
	width: 60%;
	margin: auto;
}

 @media (max-width: 768px) {
	.inventory-container {
		width: 100%;
		margin: auto;
	}
}

.report-type-header {
	margin: 0;
	padding: 0;
	border-bottom: solid 2px #d8d8d8;
	text-align: center;
	background-color: #f5f5f5;
}

.edit-margins {
	width: 55%;
	margin: auto;
}

 @media (max-width: 768px) {
	.edit-margins {
		width: 100%;
		margin: auto;
	}
}

.category {
	border: solid 2px #d8d8d8;
}

.scanner {
	padding-left: 0;
	padding-right: 0;
}
.reports {
	padding-left: 0;
	padding-right: 0;
}
.inventory-sub-header {
	margin: 0;
	padding: 0;
	border-bottom: solid 2px #d8d8d8;
	text-align: center;
	background-color: #f5f5f5;
}

.spaced-button {
	margin-top: 1em;
	margin-bottom: 1em;
}