.edit-scanner {
	width: 85%;
	margin: auto;
}

 @media (max-width: 768px) {
	.edit-scanner {
		width: 100%;
		margin: auto;
	}
}

.update-item-bottom-row {
	border-bottom: solid 2px #d8d8d8;
}

#scanner-count {
	display: none;
}