.select-container {
	width: 50%;
	margin: auto;
}

 @media (max-width: 768px) {
	.select-container {
		width: 100%;
		margin: auto;
	}
}

.new-form {
	display: none;
}

.new-business-form {
	display: none;
}